#language {
  font-family: Ubuntu, serif;
  border: 1px solid #ABDBEB;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table .title {
  background-color: #b0212c;
  color: white;
  border: 0.25rem solid #ffffff;
  padding-left: 3rem;
  padding-right: 3rem;
  font-weight: bold;

}

.table .language {
  background-color: #b0212c;
  color: white;
  border: 0.25rem solid #ffffff;
  text-align: left;
  padding-right: 6rem;
  padding-left: 0.25rem;
  font-weight: bold;

}

.table .value {
  background-color: #ededed;
  color: #7e8185;
  border: 0.25rem solid #ffffff;
  text-align: center;
}

.table img {
  background-color: #ededed;
  color: #7e8185;
  border: 0.25rem solid #ffffff;
  width: 3rem;
  height: 1rem;
}

.image-title {
  width: 3rem;
}








