#projectparticipations {
  font-family: Ubuntu, serif;
  border: 1px solid #ABDBEB;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.name {
  color: #c00000;
  padding: 0;
  margin: 0;
}

span {
  color: #7e8185;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.component {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.aanpassen {
  margin-left: 1rem;
}

img {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}




