<aside class="navigation">
<div style="font-family:Ubuntu" class="leftBar">
  <h2 class="navTitle">Browse your CV here:</h2>
  <div class="sidebar">
    <ul class='navigation'>
      <li><a href="/cv/{{id}}#employee">Basic Info</a></li>
      <li><a href="/cv/{{id}}#educations">Educations</a></li>
      <li><a href="/cv/{{id}}#certifications">Certifications</a></li>
      <li><a href="/cv/{{id}}#trainings">Trainings</a></li>
      <li><a href="/cv/{{id}}#language">Languages</a></li>
      <li><a href="/cv/{{id}}#skills">Skills</a></li>
      <li><a href="/cv/{{id}}#Jobs">Jobs</a></li>
      <li><a href="/cv/{{id}}#projects">Projects</a></li>
      <li class="linkedIn"><a href="/cv/{{id}}#LinkedIn">LinkedIn</a></li>
    </ul>
  </div>
</div>
</aside>


